{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h2>Start using your account</h2>
            </div>
        </div>
    </div>
{% endblock %}
