{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Time to distribute your savings!</h1>
    <h2>You saved &pound;10 this month.</h2>
    <h2>How do you want to distribute it?</h2>

    <div class="row">
        <div class="col-2">Savings</div>
        <div class="col-8"><input type="range" min="0" max="100" value="75"></div>
        <div class="col-2">Charity</div>
    </div>
    <div class="row">
        <div class="col-2"><span class="js--saving-amount">&pound;7.50</span></div>
        <div class="col-8"></div>
        <div class="col-2"><span class="js--charity-amount">&pound;2.50</span></div>
    </div>

    <h2>Where do you want it to go?</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Your local Charities (Nottingham)</h5>
            <h6 class="card-subtitle mb-2 text-muted">These are charities selected based on locations and
                businesses from your transaction history this month.</h6>
            <div class="row">
                <img class="charity-logo rounded-circle" src="{{ asset('img/charity/ArthritisResearch logo.jpg') }}" />
                <img class="charity-logo rounded-circle" src="{{ asset('img/charity/mha.jpg') }}" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">National</h5>
            <h6 class="card-subtitle mb-2 text-muted">These are charities selected based on the types of places you
                like to shop.
                .</h6>
            <div class="row">
                <img class="charity-logo rounded-circle" src="{{ asset('img/charity/02_Wildlife_Trusts.jpg') }}" />
            </div>
        </div>
    </div>
    <form action="/thank-you" class="thank-you">
        <button class="btn btn-light w-100">Distribute it! <i class="fas fas-chevron-right"></i></button>
    </form>
</div>
{% endblock %}
