{% extends 'base.html.twig' %}

{% block body %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"></h1>
        <p class="lead">Donate your spare change to a good cause</p>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Round up</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        £0.70
                        <small class="text-muted">/ £2.30 purchase</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Round up to the nearest pound</li>
                        <li>Redacted</li>
                        <li>Redacted</li>
                        <li>Redacted</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">[REDACTED]</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Redacted</li>
                        <li>Redacted</li>
                        <li>Redacted</li>
                        <li>Redacted</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">YOLO PLAN</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Random <small class="text-muted">£?.??</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>I'm feeling lucky</li>
                        <li>Redacted</li>
                        <li>Redacted</li>
                        <li>Redacted</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <strong><code>[Redacted]</code></strong>
    </footer>
{% endblock %}
