{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <h2 style="text-align: center;">Thank you for your generosity.</h2>
                <p class="align-content-center w-100" style="font-size: 60px; text-align: center">
                    <i class="fas fa-check"></i>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block lowerScripts %}

{% endblock %}

